body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 24px;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99999999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  max-width: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2579be;
}

.nav-container {
  width: 100%;
  height: 100%;
  max-width: 1439px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 150px;
  padding-left: 150px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  max-width: 1439px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.hero-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1439px;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.wrap-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.column-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.heading-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Poppins, sans-serif;
  font-size: 57px;
  line-height: 46px;
  font-weight: 700;
}

.heading-1.hero__title {
  max-width: 519px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 68px;
  line-height: 75px;
}

.heading-1.contact_heading {
  font-size: 43px;
  font-weight: 600;
}

.subhead-1 {
  max-width: none;
  margin-right: auto;
  margin-left: 0px;
  padding-top: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Poppins, sans-serif;
  color: #666;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
}

.subhead-1.contact_sub {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.subhead-1.max-w-md {
  max-width: 370px;
  line-height: 33px;
  text-align: left;
}

.subhead-1.hero__subtitle {
  max-width: 310px;
  margin-right: 0px;
  padding-top: 0px;
  line-height: 33px;
}

.paragraph-3 {
  max-width: 280px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Poppins, sans-serif;
  color: #676767;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}

.icon {
  margin-top: 10px;
  margin-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav-link {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.nav-link.w--current {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.hero-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button {
  margin-top: 20px;
  padding: 12px 18px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 0px none #fff;
  border-radius: 5px;
  background-color: #487db2;
  box-shadow: 0 1px 0 0 transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.button:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.class {
  margin-right: 2px;
  margin-left: 2px;
  padding: 4px 5px;
  border-radius: 2px;
  background-color: #3b79c3;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
}

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1439px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.wrap-2.a {
  margin-bottom: 0px;
}

.wrap-2.b {
  margin-bottom: 20px;
}

.logos-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2678be;
}

.logos-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  opacity: 0.75;
}

.left-1 {
  width: 50%;
  margin-right: 60px;
  padding: 50px 20px;
  color: #333;
}

.right-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 0px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column-1-title {
  margin-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 20px;
}

.left-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-2 {
  width: 50%;
  margin-top: 14px;
  margin-left: 60px;
  padding: 31px 20px 50px;
  text-align: left;
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2579be;
  color: #fff;
}

.footer-top-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1439px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 150px;
  padding-left: 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #111;
}

.footer-bottom-wrap {
  width: 80%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.legal {
  color: #777;
  font-size: 12px;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.column-wrap-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 30px -15px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.heading-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-weight: 700;
  text-align: left;
}

.subhead-3 {
  margin-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: left;
}

.column-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-right: -20px;
  margin-left: -20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.heading-4 {
  margin-top: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.heading-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.heading-2 {
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 34px;
  line-height: 36px;
  font-weight: 700;
}

.heading-2.services {
  max-width: none;
  min-height: auto;
  margin-top: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 45px;
  letter-spacing: normal;
  white-space: normal;
}

.screenshot {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
}

.paragraph-2 {
  color: #666;
  font-weight: 300;
}

.caption-2 {
  max-width: 320px;
  margin-top: 20px;
  color: #777;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
}

.footer-logo {
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-link {
  margin-left: 50px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.footer-link.w--current {
  font-family: Poppins, sans-serif;
}

.hero-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.caption-1 {
  max-width: 320px;
  margin-top: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 21px;
  text-align: center;
}

.customers-logo {
  margin: 10px;
}

.caption-4 {
  max-width: 320px;
  margin-top: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #777;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
}

.caption-3 {
  max-width: 320px;
  margin-top: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #777;
  font-size: 13px;
  line-height: 21px;
}

.image-4 {
  margin-top: 22px;
  border-radius: 5px;
}

.image-2 {
  margin-left: 24px;
  border-radius: 3px;
}

.image-2.rounded-md {
  border-radius: 5px;
}

.bold-text {
  color: #467be3;
}

.section-4 {
  display: block;
  max-width: 65%;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-top: 5px solid #2678be;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.13);
  text-align: center;
}

.body {
  background-color: #fbfaff;
}

.container {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.link {
  display: block;
  overflow: visible;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #666;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-span {
  color: #2678be;
  font-weight: 700;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-bottom: 0px;
}

.image-3 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-radius: 3px;
}

.image-3.rounded-md {
  border-radius: 5px;
}

.bold-text-2 {
  font-family: Poppins, sans-serif;
}

.body-2 {
  max-width: none;
}

@media screen and (min-width: 1440px) {
  .hero-section {
    font-size: 20px;
  }

  .services {
    font-size: 18px;
  }

  .heading-1.contact_heading {
    font-size: 50px;
  }

  .subhead-1 {
    text-align: center;
  }

  .subhead-1.contact_sub {
    margin-top: 29px;
    font-size: 20px;
    line-height: 30px;
  }

  .subhead-1.hero__subtitle {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
  }

  .hero-left {
    font-size: 20px;
  }

  .about {
    background-color: #fff;
  }

  .right-1 {
    padding-left: 30px;
  }

  .left-2 {
    margin-right: 30px;
  }

  .heading-3 {
    font-size: 40px;
    font-weight: 700;
  }

  .heading-2.services {
    font-size: 40px;
  }

  .paragraph-2 {
    color: #747474;
    font-size: 20px;
    font-weight: 300;
  }

  .image-4 {
    border-radius: 5px;
  }

  .image-2 {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    border-radius: 5px;
  }

  .bold-text {
    color: #2678be;
  }

  .section-4 {
    border-top-color: #2678be;
    border-radius: 5px;
  }

  .text-span {
    color: #2678be;
  }

  .image-3 {
    border-radius: 5px;
  }
}

@media screen and (min-width: 1920px) {
  .nav-container {
    max-width: 90%;
  }

  .hero-section {
    font-size: 60px;
  }

  .hero-wrap {
    max-width: 80%;
  }

  .heading-1 {
    line-height: 70px;
  }

  .heading-1.contact_heading {
    font-size: 70px;
  }

  .subhead-1 {
    margin-right: auto;
    margin-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 20px;
  }

  .subhead-1.contact_sub {
    margin-top: 40px;
    font-size: 25px;
    line-height: 35px;
  }

  .nav-link.w--current {
    font-weight: 400;
  }

  .hero-left {
    max-width: 50%;
  }

  .button {
    font-size: 20px;
  }

  .column-1-title {
    font-size: 30px;
  }

  .footer-top-wrap {
    max-width: 90%;
  }

  .column-wrap-1 {
    max-width: 102%;
  }

  .paragraph-2 {
    margin-top: 25px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
  }

  .footer-link {
    font-size: 15px;
  }

  .hero-right {
    max-width: 50%;
  }

  .image-2 {
    -o-object-fit: fill;
    object-fit: fill;
  }

  .bold-text {
    color: #467be3;
  }

  .link {
    margin-top: 29px;
    color: #666;
    font-size: 25px;
  }
}

@media screen and (max-width: 991px) {
  .nav-container {
    padding-right: 100px;
    padding-left: 100px;
  }

  .nav-menu {
    position: absolute;
    z-index: 999999999999999;
    background-color: #2678be;
  }

  .hero-section {
    background-color: #fff;
  }

  .heading-1 {
    font-size: 40px;
    line-height: 49px;
  }

  .heading-1.hero__title {
    line-height: 42px;
  }

  .subhead-1.max-w-md {
    font-size: 14px;
    line-height: 29px;
  }

  .subhead-1.hero__subtitle {
    max-width: 300px;
    font-size: 13px;
  }

  .nav-link {
    background-color: #2678be;
    text-align: center;
  }

  .logos-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-top-wrap {
    padding-right: 100px;
    padding-left: 100px;
  }

  .column-wrap-1 {
    display: block;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .column-wrap-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column-2 {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .heading-2 {
    font-size: 28px;
  }

  .section-4 {
    max-width: 80%;
  }

  .menu-button {
    color: #fff;
  }

  .menu-button.w--open {
    background-color: #2678be;
  }

  .icon-2 {
    color: #fff;
  }

  .menu-button-2 {
    background-color: #2678be;
  }
}

@media screen and (max-width: 767px) {
  .nav-container {
    display: block;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .hero-section {
    height: auto;
  }

  .hero-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .services {
    padding-top: 0px;
  }

  .wrap-1 {
    text-align: center;
  }

  .subhead-1.max-w-md {
    margin-right: 0px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: center;
  }

  .subhead-1.hero__subtitle {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
  }

  .hero-left {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: center;
  }

  .wrap-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wrap-2.a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .left-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .right-1 {
    width: 100%;
  }

  .left-2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .right-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .footer-top {
    padding-bottom: 0px;
  }

  .footer-top-wrap {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .heading-3 {
    text-align: center;
  }

  .subhead-3 {
    text-align: center;
  }

  .footer-link-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: left;
  }

  .hero-right {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .image-2.rounded-md {
    margin-left: 0px;
  }

  .section-4 {
    max-width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .heading-1 {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }

  .heading-1.contact_heading {
    line-height: 50px;
  }

  .subhead-1.contact_sub {
    text-align: left;
  }

  .subhead-1.max-w-md {
    line-height: 24px;
  }

  .subhead-1.hero__subtitle {
    line-height: 21px;
    text-align: left;
  }

  .button {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-top-wrap {
    padding-bottom: 33px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .column-wrap-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-2 {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .footer-link {
    margin-right: 20px;
    margin-left: 20px;
  }

  .section-4 {
    max-width: 100%;
    margin-top: 40px;
    border: 1px none #000;
    background-color: #fbfaff;
    box-shadow: none;
  }

  .container {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: left;
  }

  .link {
    margin-bottom: 10px;
  }
}

